/* In NavBar.css */
.navbar {
    background-color: #007bff;
    color: #fff;
    padding: 16px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-right: 16px;
  }
  